.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #001f3f;
  color: white;
  padding-top: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main::before {
  content: "";
  background-image: url('/logo/otamed-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.05; /* 👈 διαφανές watermark */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  margin-bottom: 30px;
  z-index: 1;
}

.countdown {
  font-size: 2rem;
  margin-bottom: 20px;
  z-index: 1;
}
.startButton {
  font-size: 1.5rem;
  padding: 12px 30px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  z-index: 1;
}
.heading {
  z-index: 1;
}

.paragraph {
  z-index: 1;
}
